@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/libs/_vars.scss');
@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/libs/_functions.scss');
@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/libs/_mixins.scss');
@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/libs/_vendor.scss');
@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/libs/_breakpoints.scss');
@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/libs/_html-grid.scss');
@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/css/fontawesome-all.min.css');

// Breakpoints.

	@include breakpoints((
		xlarge:   ( 1281px,  1680px ),
		large:    ( 981px,   1280px ),
		medium:   ( 737px,   980px  ),
		small:    ( 481px,   736px  ),
		xsmall:   ( 361px,   480px  ),
		xxsmall:  ( null,    360px  )
	));

// Mixins.

	@mixin color($p) {
		@include color-typography($p);
		@include color-box($p);
		@include color-button($p);
		@include color-form($p);
		@include color-icon($p);
		@include color-list($p);
		@include color-section($p);
		@include color-table($p);
		@include color-spotlight($p);
	}

// Base.

	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/base/_reset.scss');
	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/base/_page.scss');
	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/base/_typography.scss');

// Component.

	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/components/_row.scss');
	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/components/_box.scss');
	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/components/_button.scss');
	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/components/_form.scss');
	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/components/_icon.scss');
	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/components/_image.scss');
	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/components/_list.scss');
	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/components/_actions.scss');
	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/components/_icons.scss');
	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/components/_section.scss');
	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/components/_table.scss');
	@import url('components/features'https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/components/_features.scss');
	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/components/_statistics.scss');
	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/components/_spotlight.scss');

// Layout.

	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/layout/_header.scss');
	@import url('_nav.scss	https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/layout/_nav.scss');
	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/layout/_main.scss');
	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/layout/_footer.scss');
	@import url('https://github.com/rbosmanscx/prefcenterbmcblm/blob/main/assets/sass/layout/_wrapper.scss');
